<mat-toolbar>
     <button mat-icon-button (click)="toggleSiderBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>METORI</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
            <li style="display: flex; align-items: center;">
            <h2 style="margin: 0;">Liuhuanpeng@Metoriechina.com</h2>
            </li>
             <li>
                <button mat-icon-button>
                    <mat-icon>settings</mat-icon>
                  </button>
            </li>
        </ul>
    </div>
</mat-toolbar>
