<mat-toolbar>
     <button mat-icon-button (click)="toggleSiderBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>METORI</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
            <!-- <li>
                <button mat-icon-button>
                    <mat-icon>settings</mat-icon>
                  </button>
            </li> -->
            <li>
            <h3>Liuhuanpeng@Metoriemail.com</h3>
            </li>
             <li>
                <button mat-icon-button>
                    <mat-icon>settings</mat-icon>
                  </button>
            </li>
        </ul>
    </div>
</mat-toolbar>
